<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <title>Random Password Generator</title>
</head>

<body>
  <div class="container">
  <!-- Navbar -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Random Password Generator</a>
    </div>
  </nav>
  
  {{{ body }}}
  </div>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>