<form method="POST" action="/">
  <div class="container mt-3">
    <div class="row mb-3">
      <label for="password-length" class="col-sm-3 col-form-label">Password Length</label>
      <div class="col-sm">
        <input type="number" name="length" class="form-control" id="password-length" placeholder="Length is available between 4 ~ 16" value="">
      </div>
    </div>

    <div class="row mb-3">
      <label for="lowercase" class="col-sm-3 col-form-label">Include Lowercase Characters</label>
      <div class="col-sm mt-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="lowercase" name="lowercase">
          <label class="form-check-label" for="lowercase">
            (e.g. abcdefg)
          </label>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="uppercase" class="col-sm-3 col-form-label">Include Uppercase Characters</label>
      <div class="col-sm mt-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="uppercase" name="uppercase">
          <label class="form-check-label" for="uppercase">
            (e.g. ABCDEFG)
          </label>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="numbers" class="col-sm-3 col-form-label">Include Numbers</label>
      <div class="col-sm mt-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="numbers" name="numbers">
          <label class="form-check-label" for="numbers">
            (e.g. 123456)
          </label>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="symbols" class="col-sm-3 col-form-label">Include Symbols</label>
      <div class="col-sm mt-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="symbols" name="symbols">
          <label class="form-check-label" for="symbols">
            (e.g. @#$%)
          </label>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="exclude" class="col-sm-3 col-form-label">Exclude Characters</label>
      <div class="col-sm">
        <input type="text" name="exclude" class="form-control" id="exclude" placeholder="These characters will not appear in the password" value="">
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Your password is:</label>
      <div class="col-sm mt-1">
        <code>{{password}}</code>
      </div>
    </div>

    <button type="submit" class="btn btn-success mt-2">Generate Password</button>
  </div>
</form>